<%- include('./partials/header') %>
<div class="#212121 grey darken-4 white-text center-align">
  <br>
  
    <div id="navbar" class="nav-wrapper center-align">
      <a id="home" class="#00c853 green-text accent-3 center-align" href="/playlists">
        <i class="large material-icons">home</i>
      </a>  
    </div>

    <div id="pageTitle">
      <h1 class="#00c853 green-text accent-3 center-align">  
        <i class="medium material-icons">album</i>
        <%= name%>
      </h1>
      <h5 class="#00c853 green-text accent-3 center-align"><%=info%></h5>
    </div>

  <br>

      <table class="highlight">
        <thead class="#00c853 green accent-4">
          <tr>
            <th  class="center-align">Song Name</th>
            <th class="center-align">Artist Name</th>
            <th class="center-align">Genre</th>
            <th class="center-align">Rating</th>
            <th class="center-align">View</th>
            <th class="center-align">Delete</th>
          </tr>
        </thead>
        <tbody class="#757575 grey darken-1">
          <% songs.forEach((element,index)=>{ %>
            <tr>
              <td class="center-align">
                <%= element.name %>
              </td>
              <td class="center-align">
                <%= element.artist %>
              </td>
              <td class="center-align">
                <%= element.genre %>
              </td>
              <td class="center-align">
                <%= element.rating %>
              </td>
              <td class="center-align">
                <a href="/playlists/<%=playlistID%>/songs/<%=element._id%>"><i class="#00c853 green-text accent-4 material-icons">visibility</i></a>
              </td>
              <td class="center-align">
                <form action="/playlists/<%=playlistID%>/songs/<%=element._id%>?_method=DELETE" method= "POST"><button class="red material-icons">delete</button></form>
              </td>
            </tr>
        <% }) %>
        </tbody>
      </table>



          <br>
          
      <form id="add-song-form" method="POST" action="/playlists/<%= playlistID %>/songs/">
        <h4 class="green-text">New Song:
        
        </h4>
          <label class="green-text">Song Name:</label>
          <input  class="center-align green-text" type="text" name="name">
          <label class="green-text">Artist:</label>
          <input  class="center-align green-text" type="text" name="artist">
          <label class="green-text">Genre:</label>
          <input  class="center-align green-text" type="text" name="genre">
          <label  class="green-text" for="link">Video URL:</label>
          <input  class="center-align green-text" type="text" name="link">
          <label class="green-text">Rating:</label>
          <input  class="center-align green-text" type="number" name="rating" min="-5" max="5">
        
          <button class="green material-icons" type="submit" value="Add Song">add</button>
          <br><br>
        </form>
        <br>
        <br>

        <form action="/playlists/<%= playlistID %>?_method=PUT" method="POST">

          <h5 class="center-align yellow-text">Edit Playlist        </h5>
          <input class="center-align yellow-text" type="text" name="name" value="<%=name%>">
          <input class="center-align yellow-text" type="text" name="info" value="<%=info%>">
          
          <button class="yellow" type="submit"><i type="submit" class="yellow material-icons">build</i></button>

      </form>
      <br>
    </div>







</body>
</html>
<%- include('./partials/footer') %>