<%- include('./partials/header') %>
<div class="#212121 grey darken-4 white-text center-align">
<br>
<a href="/playlists"><button class="material-icons">backspace</button></a>
<div> <h1 class="center-align">  <i class="medium material-icons">album</i>
  <%= name%></h1>
<h5 class="center-align"><%=info%></h5>
</div>
   
    <br>

    <% if (songs.length){ %>
    <h3>Songs:</h3>
    <table class="">
      <thead>
        <tr>
          <th>Song Name</th>
          <th>Artist Name</th>
          <th>Genre</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% songs.forEach((element,index)=>{ %>
          <tr>
            <td>
              <%= element.name %>
            </td>
            <td>
              <%= element.artist %>
            </td>
            <td>
              <%= element.genre %>
            </td>
            <td>
              <%= element.rating %>
            </td>
            <td>
              <%=element.playlists %>
            </td>
            <td>
              <a href="/playlists/<%=playlistID%>/songs/<%=element._id%>"><button class="material-icons">build</button></a>
            </td>
            <td>
              <form action="/playlists/<%=playlistID%>/songs/<%=element._id%>?_method=DELETE" method= "POST"><button class="material-icons">delete</button></form>
            </td>
          </tr>
       <% }) %>
      </tbody>
    </table>
<% } %>


        <br>
        
    <form id="add-song-form" method="POST" action="/playlists/<%= playlistID %>/songs/">
      <h4 class="green-text">New Song:
        <button class="green material-icons" type="submit" value="Add Song">add</button>
      </h4>
        <label class="green-text">Song Name:</label>
        <input  class="center-align green-text" type="text" name="name">
        <label class="green-text">Artist:</label>
        <input  class="center-align green-text" type="text" name="artist">
        <label class="green-text">Genre:</label>
        <input  class="center-align green-text" type="text" name="genre">
        <label  class="green-text" for="link">Link:</label>
        <input  class="center-align green-text" type="text" name="link">
        <label class="green-text">Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        
        <br><br>
      </form>
      <br>
      <br>

      <form action="/playlists/<%= playlistID %>?_method=PUT" method="POST">

        <h5 class="center-align yellow-text">Edit Playlist        </h5>
        <input class="center-align yellow-text" type="text" name="name" value="<%=name%>">
        <input class="center-align yellow-text" type="text" name="info" value="<%=info%>">
        
        <button class="yellow" type="submit"><i type="submit" class="yellow material-icons">build</i></button>

    </form>
    <br>
    <form action="/playlists/<%=playlistID%>?_method=DELETE" method= "POST">
      <h5 class="red-text">Delete playlist</h5>
      <button class=" red material-icons">delete</button>
    
    </form>
    
  </div>







</body>
</html>
<%- include('./partials/footer') %>