<%- include('./partials/header') %>

    <h1>Playlist Name: <%= name%></h1>
    <h2>Info: <%=info%></h2>
    <form action="/playlists/<%= playlistID %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=name%>">
        <input type="text" name="info" value="<%=info%>">
        <button type="submit">EDIT PLAYLIST</button>
    </form>
    <br>
    
    <br>
    <a href="/playlists"><button>BACK</button></a>
    <br> <br>
    <form action="/playlists/<%=playlistID%>?_method=DELETE" method= "POST"><button>DELETE PLAYLIST</button></form>


    <% if (songs.length){ %>
    <h2>Songs:</h2>
    <table>
      <thead>
        <tr>
          <th>Song Name</th>
          <th>Artist Name</th>
          <th>Genre</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% songs.forEach((element,index)=>{ %>
          <tr>
            <td>
              
              <%= element.name %>
              
            </td>
            <td>
              <%= element.artist %>
            </td>
            <td>
              <%= element.genre %>
            </td>
            <td>
              <%= element.rating %>
            </td>
            <td>
              <%= element._id %>
            </td>
            <td>
              <%=element.playlists %>
            </td>
            <td>
              <form action="/playlists/<%=playlistID%>/songs/<%=element._id%>?_method=DELETE" method= "POST"><button>DELETE SONG</button></form>
            </td>
            <td>
            <a href="/playlists/<%=playlistID%>/songs/<%=element._id%>"><button>EDIT SONG</button></a>
            </td>
          </tr>
       <% }) %>
      </tbody>
    </table>
<% } %>


        <br>
    <form id="add-song-form" method="POST" action="/playlists/<%= playlistID %>/songs/">
        <label>Song Name:</label>
        <input type="text" name="name">
        <label>Artist:</label>
        <input type="text" name="artist">
        <label>Genre:</label>
        <input type="text" name="genre">
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input type="submit" value="Add Song">
      </form>









</body>
</html>
<%- include('./partials/footer') %>