<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Song Page</h1>
    <table>
        <thead>
          <tr>
            <th>Song Name</th>
            <th>Artist Name</th>
            <th>Genre</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                
                <%= name %>
                
              </td>
              <td>
                <%= artist %>
              </td>
              <td>
                <%= genre %>
              </td>
              <td>
                <%= rating %>
              </td>
            </tr>
        </tbody>
      </table>
    <br>
    <a href="/playlists/<%=playlistID%>"><button>BACK</button></a>
</body>
</html>