<%- include('./partials/header') %>
<div class="#212121 grey darken-4 white-text center-align">
    <br>
        <div class="center-align">
            <div id="backspace" class="center-align">
                <a id="back" class="#00c853 green-text accent-4 center-align" href="/playlists/<%=playlistID%>"><i class="medium material-icons">backspace</i></a>  
                <a id="home" class="#00c853 green-text accent-4 center-align" href="/playlists"><i class="medium material-icons">home</i></a>  
            </div>
        </div>
    <h1 class="#00c853 green-text accent-4 center-align">  <i class="center-align medium material-icons">music_note</i>
        <%= name%> </h1>
    <table>
        <thead class="#00c853 green accent-4">
          <tr>
            <th class="black-text center-align"><%=name%></th>
            <th class="black-text center-align"> <%=artist%></th>
            <th class="black-text center-align"> <%=genre%></th>
            <th class="black-text center-align"> <%=rating%></th>
          </tr>
        </thead>
    </table>


<div class="video-container">
    <iframe width="853" height="480" src="http://www.youtube.com/embed/<%=linkId%>" frameborder="0" allowfullscreen></iframe>
    
</div>

<br>

    <div>
        <h4 class="yellow-text">Edit Song</h4>
        <form action="/playlists/<%=playlistID%>/songs/<%=songID%>?_method=PUT" method="POST">
            <label  class="yellow-text" for="name">Name</label>
            <input  class="center-align yellow-text" type="text" name="name" value="<%=name%>">
            <br>
            <label  class="yellow-text" for="artist">Artist</label>
            <input  class="center-align yellow-text" type="text" name="artist" value="<%=artist%>">
            <br>
            <label  class="yellow-text" for="genre">Genre</label>
            <input  class="center-align yellow-text" type="text" name="genre" value="<%=genre%>">
            <br>
            <label  class="yellow-text" for="link">Video URL:</label>
            <input  class="center-align yellow-text" type="text" name="link" value="<%=link%>">
            <br>
            <label  class="yellow-text" for="rating">Rating</label>
            <input  class="center-align yellow-text" type="number" name="rating" value="<%=rating%>">
            <button class="yellow large material-icons" type="submit">build</button>
        </form>
    </div>    
    <br>
</div>
</body>
</html>
<%- include('./partials/footer') %>

