<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Song Page</h1>
    <%=name%>
    <form action="/playlists/<%=playlistID%>/songs/<%=songID%>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%=name%>">
        <input type="text" name="artist" value="<%=artist%>">
        <input type="text" name="genre" value="<%=genre%>">
        <input type="number" name="rating" value="<%=rating%>">
        <button type="submit">EDIT SONG</button>
    </form>
    <br>
    <a href="/playlists/<%=playlistID%>"><button>BACK</button></a>
</body>
</html>