<%- include('./partials/header') %>
<div class="#212121 grey darken-4 white-text">
    <h1><%=name%></h1>
    <a href="/playlists/<%=playlistID%>"><button class="large material-icons">backspace</button></a>
    <table>
        <thead>
          <tr>
            <th>Name: <%=name%></th>
            <th>Artist: <%=artist%></th>
            <th>Genre: <%=genre%></th>
            <th>Rating: <%=rating%></th>
          </tr>
        </thead>
    </table>

<br>

<div class="video-container">
    <iframe width="853" height="480" src="<%=link%>" frameborder="0" allowfullscreen></iframe>
</div>

<br>


    <form action="/playlists/<%=playlistID%>/songs/<%=songID%>?_method=PUT" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%=name%>">
        <br>
        <label for="artist">Artist</label>
        <input type="text" name="artist" value="<%=artist%>">
        <br>
        <label for="genre">Genre</label>
        <input type="text" name="genre" value="<%=genre%>">
        <br>
        <label for="link">Link</label>
        <input type="text" name="link" value="<%=link%>">
        <br>
        <label for="rating">Rating</label>
        <input type="number" name="rating" value="<%=rating%>">
        <button class="large material-icons" type="submit">build</button>
    </form>
    <br>
</div>
</body>
</html>
<%- include('./partials/footer') %>

